li .fas {
    margin-right: 10px;
}

/* Highlighting rules for nav menu items */
li.active a,
li.active a:hover,
li.active a:focus {
    background-color: #4189C7;
    color: white;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.navbar-collapse {
  padding-top: .5rem;
}

@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
    .main-nav {
        height: 100%;
        bottom: 0;
        width: calc(25% - 20px);
    }
    .navbar {
        height: 100%;
    }
    .navbar-collapse {
        display: block;
        flex: auto;
        border-top: 1px solid #444;
        padding: 0px;
    }

    .navbar li {
        font-size: 15px;
        margin: 6px 0;
    }
    .navbar li a {
        padding: 10px 16px;
        border-radius: 4px;
    }
}
